@import views.html.helper.input
@(board : String,player1 : String,player2 : String,message : String )



@main("Hier wird getestet"){
        <h1>Player 1 : </h1> <br>
        @player1
        <br>
        <h2>Board: </h2> <br>
        @board
        <br>
        <h3>Player 2 : </h3> <br>
        @player2
        <br>
        <h4>Player 2 : </h4> <br>
        @message
        <br>

        <form action="@routes.HomeController.create_better_game()"><button>Neues Spiel starten</button></form>
        <br>
        <form action="@routes.HomeController.betterSkip()"><button>Skip</button></form>
        <form action="@routes.HomeController.betterundo()"><button>undo</button></form>
        <form action="@routes.HomeController.betterredo()"><button>redo</button></form>
            @for(button1 <- player1.split(" ")) {

            <form action="@routes.HomeController.playCardBetter(button1)"><button>@button1</button></form>
        }
        <br>
             @for(button2 <- player2.split(" ")) {

            <form action="@routes.HomeController.playCardBetter(button2)"><button>@button2</button></form>
        }

        <br>







    }







