
@(gameData: betterGameData )

<head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
</head>




        @main("Bettler"){



                <body>
                        <div class = "body">

                                <div class = "turn">
                                        <h3>Message: </h3>
                                        @gameData.message
                                        <br>
                                </div>
                                <div class = "output">

                                        @gameData.currentTurn
                                        <br>
                                </div>
                                <br>

                                <div class = "start">
                                        <form action="@routes.HomeController.create_better_game()"><button>Neues Spiel starten</button></form>
                                        <br>
                                </div>

                                <div class = "game_buttons">

                                        <form action="@routes.HomeController.betterSkip()"><button>Skip</button></form>
                                        <form action="@routes.HomeController.betterundo()"><button>undo</button></form>
                                        <form action="@routes.HomeController.betterredo()"><button>redo</button></form>

                                </div>

                                <div class = "hand_1">
                                @if(gameData.player1 != ""){
                                        @for(button1 <- gameData.player1.split(" ")) {
                                                <input type="image" id="@button1" img src="@routes.Assets.versioned("images/"+button1 +".png")"onclick="addCard('@button1','@gameData.currentTurn',1)"draggable="false"  alt="size" height="150px" width="100px"><p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        }
                                }

                                </div>
                                <div class = "board_pics">
                                @if(!gameData.board.equals("")){
                                        @for(board <- gameData.board.split(" ")) {
                                                <input type="image" draggable="false"  img src="@routes.Assets.versioned("images/"+board +".png")" alt="size" height="150px" width="100px"><p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        }
                                }

                                </div>
                                <br>

                                <div class = "hand_2">
                                @if(gameData.player2 != ""){
                                @for(button2 <- gameData.player2.split(" ")) {
                                        <input type="image" id="@button2" img src="@routes.Assets.versioned("images/"+button2 +".png")" draggable="false" onclick="addCard('@button2','@gameData.currentTurn',2)" alt="size" height="150px" width="100px"><p>&nbsp;&nbsp;&nbsp;&nbsp;</p>

                                }
                                }
                                </div>


                                <br>

                                <button onclick="playSelectedCards()">Play Cards</button>
                                <button onclick="nextRound()">Next Round</button>
                                <button onclick="backToLobby()">Exit</button>

                                <br>


                        </div>
                </body>

        






        }






